.profile__bio {
  margin: 10px 0 0 0;
  max-width: 336px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 730px) {
  .profile__bio {
    max-width: 250px;
    margin: 14px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
