.popup__input {
  width: 358px;
  margin: 0;
  padding: 0 0 10px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

@media screen and (max-width: 700px) {
  .popup__input {
    width: 238px;
  }
}
